body{
  background-color:  #092B40;
}

.search_element {
  color: #D96F32;
  border-color: #D96F32;
  background-color: #092B40;
  border-radius: 5px;
  margin: auto;
}

.search_text{
  color:white;
  margin:auto;
}

#search_box{
  width: 20em;
}

a, a:hover{
  color:white;
  text-decoration: none;
}

.result {
  border: 1px #D96F32 solid;
  border-radius:15px;
  margin: 10px;
}
